.chapter(data-title='Browser Calls with Twilio and ASP.NET MVC')
  .step(data-file='BrowserCalls.Web/Scripts/browser-calls.js',
  data-highlight='91-105')
    :markdown
      ## What does this thing do?

      This [ASP.NET MVC](//www.asp.net/mvc) web application shows how you can use
      [Twilio Client](//www.twilio.com/client) to make browser-to-phone and
      browser-to-browser calls.

      ![Browser Calls home
      page](//howtodocs.s3.amazonaws.com/browser-calls/browser-calls-home.png)

      This application powers the support site for the Birchwood Bicycle Polo
      Co., which sells equipment to those who play ["the sport of
      kings."](//www.youtube.com/watch?v=DaK9Zj3QHDY) It has three main
      features:

      * Unsatisfied customers can submit support tickets with their phone number
      and their problem.
      * Support agents can call customers' phones from their browser to follow up
      on support tickets.
      * Customers can also use their browser to speak with support agents live
      when available.

      In this tutorial, we'll point out the key bits of code that make this
      application work.
      [Check out the project README on
      GitHub](//github.com/TwilioDevEd/browser-calls-csharp) to see how to run
      the code yourself.

      Let's get started! Click the right arrow above to advance to the next
      code snippet.

      ---

      **See also:**

      * [The Twilio C# Helper Library](//www.twilio.com/docs/csharp/install)
      * [Twilio Client docs](//www.twilio.com/docs/client)
      * [Getting Started with ASP.NET MVC
      5](//www.asp.net/mvc/overview/getting-started/introduction/getting-started)
